select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    color:darkslategray;
    font-size:15px;
    margin-left:40px;
}
td {
    border:1px solid #dfdfdf;
    background-color: dodgerblue;
    width:50px;
    height:50px;
    text-align: center;
    color: white;
    font-family: "DejaVu Sans";
    font-size:20px;
}
table {
    margin-top:20px;
}
#empty {
    background-color: transparent;
    border:0px;

}
#daysOfWeek {
    background-color: orangered;
}
#today {
    background-color: red;
    font-size:25px;
}
#container {
    width:400px;
    height: 480px;
    margin:auto auto;
    margin-top:50px;
    border:2px solid #dfdfdf;
    padding:20px;
}
#sunday {
    background-color: lightcoral;
}
#saturday {
    background-color: lightgray;
}